body {
  background: #657DC4;
}

h1, h3{
  font-family: 'Satisfy', cursive;
  color: #657DC4;
  font-size: 28pt;
}

h2 {
  font-family: 'Satisfy', cursive;
  color: #657DC4;
  font-size: 18pt;
}

h3 {
  font-size: 20pt;
}

img {
  width: 300px;
}

p, a {
  font-family: 'Poiret One', sans-serif;
  color: #657DC4;
  font-size: 16pt;
}

a {
  text-decoration: none;
}

a:hover{
  color: #F59292;
}

ul {
  list-style-type: none;
  padding: 0;
}
.container {
  width: 700px;
  margin: 0px auto;
}

.card {
  margin: 10px 0px;
  padding: 20px;
  background-color: #ECE8E5;
  border-radius: 30px;
  box-shadow: 1px 1px 3px #888888;
}

.img_large, .img-medium{
  border-radius: 10px;
  box-shadow: 1px 1px 3px #888888;
}

.img-medium {
  width: 300px;
  margin: 10px;
}

.text-center {
  text-align: center;
}

.list-inline {
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}
